/* card */
.card {
  height: 60vh; 
  overflow: hidden;
  flex: 1 0 auto;
}

.scroll-card {
  overflow-y: scroll;
  height: 100%;
  padding: 1rem;
}
/* End Card*/

/* sticky footer starts */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/* End sticky footer */


