{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>Equal Borders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    {% comment %} script {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}" ></script>
    {% comment %} script end {% endcomment %}

    <!-- mapbox api -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    {% comment %} <script data-ad-client="ca-pub-4687616113437336" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>  {% endcomment %}
</head>

<body>

    <nav class="indigo darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'sumDash' %}" class="brand-logo">Logo of Equal Borders</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'sumDashAbout' %}">About</a></li>
                <li><a href="{% url 'sumDashSchools' %}">Schools</a></li>
                <li><a href="{% url 'sumDashNews' %}">News</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'sumDashAbout' %}">About</a></li>
                <li><a href="{% url 'sumDashSchools' %}">Schools</a></li>
                <li><a href="{% url 'sumDashNews' %}">News</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">Menu</i></a>
        </div>
    </nav>

    <main class="indigo lighten-5">
        {% block content %}
        {% endblock%}
    </main>

    <footer class="page-footer  indigo darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Equal Borders</h5>
                    <p class="grey-text text-lighten-4">
                        We are a team of college students working on
                        this project like it's our full time job. </p>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <p>
                        <i class="material-icons">email</i>EMAIL: equalborders@gmail.com</br>
                        <i class="material-icons">people</i>ADDRESS: 47 W 13th St, New York,</br>NY 10011, USA
                    </P>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made with <a class="orange-text text-lighten-3"
                    href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

</body>

</html>