{% extends 'base.html' %}

{% block content %}
<div class="container">

    <form class="col s12" action="{% url 'sumDashSchools' %}" method='get'>
        <div class="input-field col s6">
            <input name='q' type='text' placeholder="Type in School Name or Country Code" class="validate">
        </div>
    </form>

    <div class="result row">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Country Code</th>
                    <th>School Name</th>
                    <th>School Link</th>
                </tr>
            </thead>

            <tbody>
                {% for school in schools %}
                <tr>
                    <td>{{ school.code }}</td>
                    <td>{{ school.name }}</td>
                    <td><a href={{ school.link }}>{{ school.link }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}