{% extends 'base.html' %}

{% block content %}


<div class="section">
    <!--   Icon Section   -->
    <div class="row">

        <!-- Dashboard Card -->
        <div class="col s12 m8">
            <div class="card blue-grey darken-1 hoverable scroll-card">
                <div class="card-content white-text">
                    <span class="card-title">Graph</span>

                    <!-- added mapbox -->
                    <div id='map' style='width: 600px; height: 200px;'></div>
                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JpZmZjaG8iLCJhIjoiY2sxMzY1a3U3MDVxczNkcWp4eDJ4N2lyMyJ9.DtH7gHndwTLBuxXNnMpSig';
                        var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/streets-v11'
                        });
                    </script>

                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>

                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width blue-grey darken-1">
                        <li class="tab"><a href="#test4">Test 1</a></li>
                        <li class="tab"><a class="active" href="#test5">Test 2</a></li>
                        <li class="tab"><a href="#test6">Test 3</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- news section -->
        <div class="col s12 m4 container scroll-card">
            <a href={% url 'sumDashNews' %}>
                <h5 class="blue-grey-text darken-4">News related to schools</h5></a>
            <ul class="collapsible popout" data-collapsible="accordion">
                {% for feed in newsFeeds %}
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>{{ feed.title }}
                        </div>
                        <div class="collapsible-body truncate"><span>{{ feed.body }}</span></div>
                        <a href={{ feed.link }}>View The Source</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}